@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

#app {
    font-family: 'Roboto', sans-serif;
}